In [1]:
import pandas as pd
import numpy as np

## Xử lý clickstream data

In [2]:
clickstream = pd.read_csv('../data/raw/click_stream.csv')
clickstream.head(5)

C:\Users\Acer\AppData\Local\Temp\ipykernel_7976\1908873754.py:1: DtypeWarning: Columns (7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  clickstream = pd.read_csv('../data/raw/click_stream.csv')

,customer_id,session_id,event_name,event_time,event_id,traffic_source,event_metadata,payment_status,search_keywords,booking_id,product_id,quantity,item_price,price_usd
0,98980.0,5a055089-d013-49cd-bb97-1feaf69e5519,ADD_TO_CART,2026-02-04 19:17:15.252676,4210ef54-aabb-4c6d-9451-fea9855ab91f,MOBILE,"{''product_id'': 33385, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33385.0,1.0,302696.0,20.89
1,6327.0,7c790298-4941-469d-aa75-30a285979a8b,ADD_TO_CART,2023-12-01 13:01:58.791719,3e01a733-9bef-4803-b76b-61f5e8ac9145,MOBILE,"{''product_id'': 33406, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33406.0,1.0,405229.0,28.37
2,53587.0,4e926037-2914-44e6-b5c5-69ad5e13fc2b,ADD_TO_CART,2025-10-05 20:43:44.670065,3b84c959-96c4-4987-98d6-4282a82ec6bb,MOBILE,"{''product_id'': 33429, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33429.0,1.0,318282.0,22.28
3,3744.0,862bd6b2-301c-4831-8880-37508a977589,ADD_TO_CART,2025-03-12 21:51:25.713078,2497c485-a25e-4797-b442-6f76f6687624,MOBILE,"{''product_id'': 33517, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33517.0,1.0,337456.0,23.62
4,63782.0,81ed8668-c51a-435b-8411-3b7a99d1d839,ADD_TO_CART,2021-03-03 01:03:27.634969,2c472efb-c236-4328-a7f8-ee48d5738da5,MOBILE,"{''product_id'': 33529, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33529.0,1.0,198962.0,14.92

In [3]:
# lọc bỏ những dòng có customer_id bị khuyết
clickstream.dropna(subset=['customer_id'], inplace=True)

In [4]:
clickstream['session_id'].isnull().sum()

np.int64(0)

In [5]:
clickstream['event_name'].isnull().sum()

np.int64(0)

In [6]:
clickstream['event_name'].unique()

array(['ADD_TO_CART', 'BOOKING', 'HOMEPAGE', 'CLICK', 'SCROLL', 'SEARCH',
       'ADD_PROMO', 'PROMO_PAGE', 'ITEM_DETAIL'], dtype=object)

In [7]:
# loại bỏ những hành động không thể hiện tương tác của người dùng đối với sản phẩm
actions = ['ADD_TO_CART', 'BOOKING']

clickstream = clickstream[clickstream['event_name'].isin(actions)]
clickstream

,customer_id,session_id,event_name,event_time,event_id,traffic_source,event_metadata,payment_status,search_keywords,booking_id,product_id,quantity,item_price,price_usd
0,98980.0,5a055089-d013-49cd-bb97-1feaf69e5519,ADD_TO_CART,2026-02-04 19:17:15.252676,4210ef54-aabb-4c6d-9451-fea9855ab91f,MOBILE,"{''product_id'': 33385, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33385.0,1.0,302696.0,20.89
1,6327.0,7c790298-4941-469d-aa75-30a285979a8b,ADD_TO_CART,2023-12-01 13:01:58.791719,3e01a733-9bef-4803-b76b-61f5e8ac9145,MOBILE,"{''product_id'': 33406, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33406.0,1.0,405229.0,28.37
2,53587.0,4e926037-2914-44e6-b5c5-69ad5e13fc2b,ADD_TO_CART,2025-10-05 20:43:44.670065,3b84c959-96c4-4987-98d6-4282a82ec6bb,MOBILE,"{''product_id'': 33429, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33429.0,1.0,318282.0,22.28
3,3744.0,862bd6b2-301c-4831-8880-37508a977589,ADD_TO_CART,2025-03-12 21:51:25.713078,2497c485-a25e-4797-b442-6f76f6687624,MOBILE,"{''product_id'': 33517, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33517.0,1.0,337456.0,23.62
4,63782.0,81ed8668-c51a-435b-8411-3b7a99d1d839,ADD_TO_CART,2021-03-03 01:03:27.634969,2c472efb-c236-4328-a7f8-ee48d5738da5,MOBILE,"{''product_id'': 33529, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33529.0,1.0,198962.0,14.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13235593,40786.0,c408826f-6462-427b-9a97-a2063c8b8e36,ADD_TO_CART,2025-04-13 05:42:10.248699,524a82c4-bfeb-44e8-95b5-b7db3991d0e4,MOBILE,"{''product_id'': 32802, ''quantity'': 1, ''ite...",NaN,NaN,NaN,32802.0,1.0,222944.0,15.38
13235594,30229.0,9313bf93-935a-4b7c-86f5-03e7e8666b7d,ADD_TO_CART,2025-06-28 20:34:12.61997,19115e5c-c081-411e-8dbc-ca2f6577c3d6,MOBILE,"{''product_id'': 32847, ''quantity'': 1, ''ite...",NaN,NaN,NaN,32847.0,1.0,365756.0,25.60
13235595,54774.0,a41aab23-e019-47c3-8b7b-fcac09d7ddc9,ADD_TO_CART,2025-01-27 15:34:04.020906,5fb9c931-dbd4-4af0-90e0-91570f9ae0b1,MOBILE,"{''product_id'': 32937, ''quantity'': 1, ''ite...",NaN,NaN,NaN,32937.0,1.0,332304.0,22.93
13235596,64661.0,3ebc856e-abd1-4f1c-9752-a4cfd657d220,ADD_TO_CART,2024-05-07 04:38:30.471019,9a2af64e-c625-45b2-832d-f883a0783f61,MOBILE,"{''product_id'': 33090, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33090.0,1.0,154128.0,10.48
13235597,82601.0,c0d2b109-778e-4f09-b084-0d047410a470,ADD_TO_CART,2020-10-13 11:53:48.136405,d9fe548f-bbf2-43b5-bf70-f363a8ee7f0a,MOBILE,"{''product_id'': 33361, ''quantity'': 1, ''ite...",NaN,NaN,NaN,33361.0,1.0,128950.0,9.67

In [8]:
clickstream['event_time'].isnull().sum()

np.int64(0)

In [9]:
# chuyển dữ liệu event_time sang kiểu datetime
clickstream['event_time'] = pd.to_datetime(clickstream['event_time'])

In [10]:
# sắp xếp lại thời gian sự kiện
clickstream = clickstream.sort_values(by='event_time')
clickstream

,customer_id,session_id,event_name,event_time,event_id,traffic_source,event_metadata,payment_status,search_keywords,booking_id,product_id,quantity,item_price,price_usd
210728,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,ADD_TO_CART,2020-03-27 23:01:14.254358,782f944f-7118-4e72-ab47-8cd3b68b9fab,MOBILE,"{''product_id'': 33314, ''quantity'': 3, ''ite...",NaN,NaN,NaN,33314.0,3.0,210265.0,15.98
3655530,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,BOOKING,2020-03-27 23:18:44.792905,cc8314e5-f925-4e96-a819-41592834199a,MOBILE,{'payment_status': 'Success'},Success,NaN,2dd76c45-6ddb-46b4-9c91-c59d4f9b76ba,33314.0,3.0,210265.0,15.98
1587002,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:19:09.860873,5dae5d05-8efd-4dd3-8f7c-d5805960a4b8,MOBILE,"{''product_id'': 16061, ''quantity'': 1, ''ite...",NaN,NaN,NaN,16061.0,1.0,163539.0,12.43
2101467,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:26:03.860873,1332f98a-a4aa-4cb9-8d46-30da3084eec9,MOBILE,"{''product_id'': 7588, ''quantity'': 1, ''item...",NaN,NaN,NaN,7588.0,1.0,411340.0,31.26
7655587,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,BOOKING,2020-03-28 02:53:26.720195,df9f8aa7-0bb5-493e-81d9-8cecca5b4140,MOBILE,{'payment_status': 'Success'},Success,NaN,b9724455-552e-4deb-9351-4a4fe4ee0b8f,16061.0,1.0,163539.0,12.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6089937,22285.0,f837b3a2-7908-42df-8969-3f879ebb4c25,BOOKING,2026-04-27 23:59:03.408424,f2282844-4377-487e-939f-7abe94fd3482,MOBILE,{'payment_status': 'Success'},Success,NaN,a43bfc27-6a49-465b-8690-901b8d79acef,27404.0,1.0,150339.0,10.07
217643,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,ADD_TO_CART,2026-04-27 23:59:12.821469,8381526d-3656-4ec2-9051-3018b1caa54a,WEB,"{''product_id'': 25189, ''quantity'': 1, ''ite...",NaN,NaN,NaN,25189.0,1.0,197327.0,13.22
12130401,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,BOOKING,2026-04-27 23:59:19.821469,d7cd04bc-1470-4c2d-a16f-d2ef2cc81c95,WEB,{'payment_status': 'Success'},Success,NaN,1f9b9f8a-1a72-4e4c-87a6-355390a7abf6,25189.0,1.0,197327.0,13.22
10279453,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,ADD_TO_CART,2026-04-27 23:59:36.821469,fba48603-7584-49b2-9d00-32e7e5ff59fe,WEB,"{''product_id'': 17311, ''quantity'': 1, ''ite...",NaN,NaN,NaN,17311.0,1.0,157609.0,10.56
10808008,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2026-04-27 23:59:45.821469,7013e4a1-924c-4fa7-85b2-9b4a95e82f88,WEB,{'payment_status': 'Failed'},Failed,NaN,a5d9891f-f7fc-4b6e-89b1-cece6367d4f8,17311.0,1.0,157609.0,10.56

In [11]:
# loại bỏ cột event_id
clickstream.drop(columns='event_id', inplace=True)
clickstream

,customer_id,session_id,event_name,event_time,traffic_source,event_metadata,payment_status,search_keywords,booking_id,product_id,quantity,item_price,price_usd
210728,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,ADD_TO_CART,2020-03-27 23:01:14.254358,MOBILE,"{''product_id'': 33314, ''quantity'': 3, ''ite...",NaN,NaN,NaN,33314.0,3.0,210265.0,15.98
3655530,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,BOOKING,2020-03-27 23:18:44.792905,MOBILE,{'payment_status': 'Success'},Success,NaN,2dd76c45-6ddb-46b4-9c91-c59d4f9b76ba,33314.0,3.0,210265.0,15.98
1587002,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:19:09.860873,MOBILE,"{''product_id'': 16061, ''quantity'': 1, ''ite...",NaN,NaN,NaN,16061.0,1.0,163539.0,12.43
2101467,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:26:03.860873,MOBILE,"{''product_id'': 7588, ''quantity'': 1, ''item...",NaN,NaN,NaN,7588.0,1.0,411340.0,31.26
7655587,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,BOOKING,2020-03-28 02:53:26.720195,MOBILE,{'payment_status': 'Success'},Success,NaN,b9724455-552e-4deb-9351-4a4fe4ee0b8f,16061.0,1.0,163539.0,12.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6089937,22285.0,f837b3a2-7908-42df-8969-3f879ebb4c25,BOOKING,2026-04-27 23:59:03.408424,MOBILE,{'payment_status': 'Success'},Success,NaN,a43bfc27-6a49-465b-8690-901b8d79acef,27404.0,1.0,150339.0,10.07
217643,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,ADD_TO_CART,2026-04-27 23:59:12.821469,WEB,"{''product_id'': 25189, ''quantity'': 1, ''ite...",NaN,NaN,NaN,25189.0,1.0,197327.0,13.22
12130401,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,BOOKING,2026-04-27 23:59:19.821469,WEB,{'payment_status': 'Success'},Success,NaN,1f9b9f8a-1a72-4e4c-87a6-355390a7abf6,25189.0,1.0,197327.0,13.22
10279453,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,ADD_TO_CART,2026-04-27 23:59:36.821469,WEB,"{''product_id'': 17311, ''quantity'': 1, ''ite...",NaN,NaN,NaN,17311.0,1.0,157609.0,10.56
10808008,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2026-04-27 23:59:45.821469,WEB,{'payment_status': 'Failed'},Failed,NaN,a5d9891f-f7fc-4b6e-89b1-cece6367d4f8,17311.0,1.0,157609.0,10.56

In [12]:
# loại bỏ cột traffic_source
clickstream.drop(columns='traffic_source', inplace=True)
clickstream

,customer_id,session_id,event_name,event_time,event_metadata,payment_status,search_keywords,booking_id,product_id,quantity,item_price,price_usd
210728,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,ADD_TO_CART,2020-03-27 23:01:14.254358,"{''product_id'': 33314, ''quantity'': 3, ''ite...",NaN,NaN,NaN,33314.0,3.0,210265.0,15.98
3655530,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,BOOKING,2020-03-27 23:18:44.792905,{'payment_status': 'Success'},Success,NaN,2dd76c45-6ddb-46b4-9c91-c59d4f9b76ba,33314.0,3.0,210265.0,15.98
1587002,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:19:09.860873,"{''product_id'': 16061, ''quantity'': 1, ''ite...",NaN,NaN,NaN,16061.0,1.0,163539.0,12.43
2101467,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:26:03.860873,"{''product_id'': 7588, ''quantity'': 1, ''item...",NaN,NaN,NaN,7588.0,1.0,411340.0,31.26
7655587,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,BOOKING,2020-03-28 02:53:26.720195,{'payment_status': 'Success'},Success,NaN,b9724455-552e-4deb-9351-4a4fe4ee0b8f,16061.0,1.0,163539.0,12.43
...,...,...,...,...,...,...,...,...,...,...,...,...
6089937,22285.0,f837b3a2-7908-42df-8969-3f879ebb4c25,BOOKING,2026-04-27 23:59:03.408424,{'payment_status': 'Success'},Success,NaN,a43bfc27-6a49-465b-8690-901b8d79acef,27404.0,1.0,150339.0,10.07
217643,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,ADD_TO_CART,2026-04-27 23:59:12.821469,"{''product_id'': 25189, ''quantity'': 1, ''ite...",NaN,NaN,NaN,25189.0,1.0,197327.0,13.22
12130401,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,BOOKING,2026-04-27 23:59:19.821469,{'payment_status': 'Success'},Success,NaN,1f9b9f8a-1a72-4e4c-87a6-355390a7abf6,25189.0,1.0,197327.0,13.22
10279453,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,ADD_TO_CART,2026-04-27 23:59:36.821469,"{''product_id'': 17311, ''quantity'': 1, ''ite...",NaN,NaN,NaN,17311.0,1.0,157609.0,10.56
10808008,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2026-04-27 23:59:45.821469,{'payment_status': 'Failed'},Failed,NaN,a5d9891f-f7fc-4b6e-89b1-cece6367d4f8,17311.0,1.0,157609.0,10.56

In [13]:
# loại bỏ cột event_matadata
clickstream.drop(columns='event_metadata', inplace=True)
clickstream

,customer_id,session_id,event_name,event_time,payment_status,search_keywords,booking_id,product_id,quantity,item_price,price_usd
210728,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,ADD_TO_CART,2020-03-27 23:01:14.254358,NaN,NaN,NaN,33314.0,3.0,210265.0,15.98
3655530,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,BOOKING,2020-03-27 23:18:44.792905,Success,NaN,2dd76c45-6ddb-46b4-9c91-c59d4f9b76ba,33314.0,3.0,210265.0,15.98
1587002,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:19:09.860873,NaN,NaN,NaN,16061.0,1.0,163539.0,12.43
2101467,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:26:03.860873,NaN,NaN,NaN,7588.0,1.0,411340.0,31.26
7655587,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,BOOKING,2020-03-28 02:53:26.720195,Success,NaN,b9724455-552e-4deb-9351-4a4fe4ee0b8f,16061.0,1.0,163539.0,12.43
...,...,...,...,...,...,...,...,...,...,...,...
6089937,22285.0,f837b3a2-7908-42df-8969-3f879ebb4c25,BOOKING,2026-04-27 23:59:03.408424,Success,NaN,a43bfc27-6a49-465b-8690-901b8d79acef,27404.0,1.0,150339.0,10.07
217643,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,ADD_TO_CART,2026-04-27 23:59:12.821469,NaN,NaN,NaN,25189.0,1.0,197327.0,13.22
12130401,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,BOOKING,2026-04-27 23:59:19.821469,Success,NaN,1f9b9f8a-1a72-4e4c-87a6-355390a7abf6,25189.0,1.0,197327.0,13.22
10279453,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,ADD_TO_CART,2026-04-27 23:59:36.821469,NaN,NaN,NaN,17311.0,1.0,157609.0,10.56
10808008,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2026-04-27 23:59:45.821469,Failed,NaN,a5d9891f-f7fc-4b6e-89b1-cece6367d4f8,17311.0,1.0,157609.0,10.56

In [14]:
# xóa cột payment_status
clickstream.drop(columns='payment_status', inplace=True)
clickstream

,customer_id,session_id,event_name,event_time,search_keywords,booking_id,product_id,quantity,item_price,price_usd
210728,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,ADD_TO_CART,2020-03-27 23:01:14.254358,NaN,NaN,33314.0,3.0,210265.0,15.98
3655530,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,BOOKING,2020-03-27 23:18:44.792905,NaN,2dd76c45-6ddb-46b4-9c91-c59d4f9b76ba,33314.0,3.0,210265.0,15.98
1587002,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:19:09.860873,NaN,NaN,16061.0,1.0,163539.0,12.43
2101467,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:26:03.860873,NaN,NaN,7588.0,1.0,411340.0,31.26
7655587,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,BOOKING,2020-03-28 02:53:26.720195,NaN,b9724455-552e-4deb-9351-4a4fe4ee0b8f,16061.0,1.0,163539.0,12.43
...,...,...,...,...,...,...,...,...,...,...
6089937,22285.0,f837b3a2-7908-42df-8969-3f879ebb4c25,BOOKING,2026-04-27 23:59:03.408424,NaN,a43bfc27-6a49-465b-8690-901b8d79acef,27404.0,1.0,150339.0,10.07
217643,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,ADD_TO_CART,2026-04-27 23:59:12.821469,NaN,NaN,25189.0,1.0,197327.0,13.22
12130401,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,BOOKING,2026-04-27 23:59:19.821469,NaN,1f9b9f8a-1a72-4e4c-87a6-355390a7abf6,25189.0,1.0,197327.0,13.22
10279453,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,ADD_TO_CART,2026-04-27 23:59:36.821469,NaN,NaN,17311.0,1.0,157609.0,10.56
10808008,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2026-04-27 23:59:45.821469,NaN,a5d9891f-f7fc-4b6e-89b1-cece6367d4f8,17311.0,1.0,157609.0,10.56

In [15]:
# xóa cột search_keywords
clickstream.drop(columns='search_keywords', inplace=True)
clickstream

,customer_id,session_id,event_name,event_time,booking_id,product_id,quantity,item_price,price_usd
210728,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,ADD_TO_CART,2020-03-27 23:01:14.254358,NaN,33314.0,3.0,210265.0,15.98
3655530,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,BOOKING,2020-03-27 23:18:44.792905,2dd76c45-6ddb-46b4-9c91-c59d4f9b76ba,33314.0,3.0,210265.0,15.98
1587002,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:19:09.860873,NaN,16061.0,1.0,163539.0,12.43
2101467,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:26:03.860873,NaN,7588.0,1.0,411340.0,31.26
7655587,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,BOOKING,2020-03-28 02:53:26.720195,b9724455-552e-4deb-9351-4a4fe4ee0b8f,16061.0,1.0,163539.0,12.43
...,...,...,...,...,...,...,...,...,...
6089937,22285.0,f837b3a2-7908-42df-8969-3f879ebb4c25,BOOKING,2026-04-27 23:59:03.408424,a43bfc27-6a49-465b-8690-901b8d79acef,27404.0,1.0,150339.0,10.07
217643,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,ADD_TO_CART,2026-04-27 23:59:12.821469,NaN,25189.0,1.0,197327.0,13.22
12130401,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,BOOKING,2026-04-27 23:59:19.821469,1f9b9f8a-1a72-4e4c-87a6-355390a7abf6,25189.0,1.0,197327.0,13.22
10279453,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,ADD_TO_CART,2026-04-27 23:59:36.821469,NaN,17311.0,1.0,157609.0,10.56
10808008,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2026-04-27 23:59:45.821469,a5d9891f-f7fc-4b6e-89b1-cece6367d4f8,17311.0,1.0,157609.0,10.56

In [16]:
# xóa booking_id
clickstream.drop(columns='booking_id', inplace=True)
clickstream

,customer_id,session_id,event_name,event_time,product_id,quantity,item_price,price_usd
210728,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,ADD_TO_CART,2020-03-27 23:01:14.254358,33314.0,3.0,210265.0,15.98
3655530,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,BOOKING,2020-03-27 23:18:44.792905,33314.0,3.0,210265.0,15.98
1587002,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:19:09.860873,16061.0,1.0,163539.0,12.43
2101467,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:26:03.860873,7588.0,1.0,411340.0,31.26
7655587,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,BOOKING,2020-03-28 02:53:26.720195,16061.0,1.0,163539.0,12.43
...,...,...,...,...,...,...,...,...
6089937,22285.0,f837b3a2-7908-42df-8969-3f879ebb4c25,BOOKING,2026-04-27 23:59:03.408424,27404.0,1.0,150339.0,10.07
217643,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,ADD_TO_CART,2026-04-27 23:59:12.821469,25189.0,1.0,197327.0,13.22
12130401,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,BOOKING,2026-04-27 23:59:19.821469,25189.0,1.0,197327.0,13.22
10279453,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,ADD_TO_CART,2026-04-27 23:59:36.821469,17311.0,1.0,157609.0,10.56
10808008,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2026-04-27 23:59:45.821469,17311.0,1.0,157609.0,10.56

In [18]:
# bỏ 2 cột cuối cùng là item_price và price_usd
clickstream.drop(columns=['item_price', 'price_usd'], inplace=True)
clickstream

,customer_id,session_id,event_name,event_time,product_id,quantity
210728,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,ADD_TO_CART,2020-03-27 23:01:14.254358,33314.0,3.0
3655530,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,BOOKING,2020-03-27 23:18:44.792905,33314.0,3.0
1587002,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:19:09.860873,16061.0,1.0
2101467,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:26:03.860873,7588.0,1.0
7655587,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,BOOKING,2020-03-28 02:53:26.720195,16061.0,1.0
...,...,...,...,...,...,...
6089937,22285.0,f837b3a2-7908-42df-8969-3f879ebb4c25,BOOKING,2026-04-27 23:59:03.408424,27404.0,1.0
217643,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,ADD_TO_CART,2026-04-27 23:59:12.821469,25189.0,1.0
12130401,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,BOOKING,2026-04-27 23:59:19.821469,25189.0,1.0
10279453,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,ADD_TO_CART,2026-04-27 23:59:36.821469,17311.0,1.0
10808008,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2026-04-27 23:59:45.821469,17311.0,1.0

In [19]:
clickstream['product_id'].isna().sum()

np.int64(0)

In [20]:
# reset index của bộ dữ liệu
clickstream.reset_index(inplace=True)
clickstream

,index,customer_id,session_id,event_name,event_time,product_id,quantity
0,210728,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,ADD_TO_CART,2020-03-27 23:01:14.254358,33314.0,3.0
1,3655530,74089.0,607d864b-76b5-45a1-a45d-7fb666a03ea1,BOOKING,2020-03-27 23:18:44.792905,33314.0,3.0
2,1587002,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:19:09.860873,16061.0,1.0
3,2101467,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,ADD_TO_CART,2020-03-28 02:26:03.860873,7588.0,1.0
4,7655587,6183.0,c5d3792d-9220-47db-ad80-4932f3f88d0e,BOOKING,2020-03-28 02:53:26.720195,16061.0,1.0
...,...,...,...,...,...,...,...
3149104,6089937,22285.0,f837b3a2-7908-42df-8969-3f879ebb4c25,BOOKING,2026-04-27 23:59:03.408424,27404.0,1.0
3149105,217643,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,ADD_TO_CART,2026-04-27 23:59:12.821469,25189.0,1.0
3149106,12130401,19551.0,b0043d8b-2b6a-443a-80f2-567486e79bf9,BOOKING,2026-04-27 23:59:19.821469,25189.0,1.0
3149107,10279453,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,ADD_TO_CART,2026-04-27 23:59:36.821469,17311.0,1.0
3149108,10808008,19551.0,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2026-04-27 23:59:45.821469,17311.0,1.0

In [23]:
clickstream.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3149109 entries, 0 to 3149108
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   index        int64
 1   customer_id  float64
 2   session_id   object
 3   event_name   object
 4   event_time   datetime64[ns]
 5   product_id   float64
 6   quantity     float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 168.2+ MB

In [24]:
clickstream.columns

Index(['index', 'customer_id', 'session_id', 'event_name', 'event_time',
       'product_id', 'quantity'],
      dtype='object')

In [25]:
# Lưu lại vào file event.csv
clickstream.to_csv('../data/processed/event.csv', index=False)

## Xử lý product data

In [8]:
product = pd.read_csv('../data/raw/product.csv')
product

,id,gender,mastercategory,subcategory,articletype,basecolour,season,year,usage,productdisplayname
0,51829,Women,Apparel,Innerwear,Bra,Red,Summer,2016.0,Casual,Bwitch Red Bra
1,39543,Women,Apparel,Innerwear,Bra,Red,Winter,2015.0,Casual,Bwitch Red Bra
2,51194,Women,Apparel,Innerwear,Bra,Red,Summer,2014.0,Casual,Enamor Red Bra
3,51050,Women,Apparel,Innerwear,Bra,Red,Summer,2017.0,Casual,Enamor Red Bra
4,51777,Women,Apparel,Innerwear,Bra,Blue,Summer,2016.0,Casual,Bwitch Blue Bra
...,...,...,...,...,...,...,...,...,...,...
44441,57763,Women,Personal Care,Skin Care,Face Scrub and Exfoliator,Cream,Spring,2017.0,NaN,Lotus Herbals Apriscrub
44442,57699,Women,Personal Care,Skin,Face Scrub and Exfoliator,Cream,Spring,2017.0,Casual,Lotus Herbals Quince Seed Massage Cream
44443,57879,Women,Personal Care,Skin Care,Face Scrub and Exfoliator,Beige,Spring,2017.0,Casual,Biotique Women Bio Papaya Revitalizing Scrub
44444,57766,Women,Personal Care,Skin Care,Face Scrub and Exfoliator,Cream,Spring,2017.0,Casual,Lotus Herbals Apriscrub Fresh Apricot Scrub 60g
44445,57880,Women,Personal Care,Skin Care,Face Scrub and Exfoliator,Green,Spring,2017.0,Casual,Biotique Women Bio Walnut Purifying & Polishin...

In [15]:
product.isna().sum()

id                      0
gender                  0
mastercategory          0
subcategory             0
articletype             0
basecolour             15
season                 21
year                    1
usage                 317
productdisplayname      0
dtype: int64

In [10]:
product['basecolour'].unique()

array(['Red', 'Blue', 'Grey', 'Pink', 'Beige', 'Black', 'Cream', 'White',
       'Brown', 'Maroon', 'Purple', 'Lavender', 'Nude', 'Skin',
       'Navy Blue', 'Rose', 'Peach', 'Green', 'Teal', 'Gold', 'Orange',
       'Silver', 'Turquoise Blue', 'Off White', 'Grey Melange',
       'Mushroom Brown', 'Burgundy', 'Olive', 'Yellow', 'Khaki', 'Steel',
       'Copper', 'Multi', 'Tan', 'Magenta', 'Sea Green', 'Mustard',
       'Rust', 'Mauve', 'Lime Green', 'Charcoal', 'Bronze',
       'Coffee Brown', 'Metallic', 'Taupe', nan, 'Fluorescent Green'],
      dtype=object)

In [14]:
product[(product['basecolour'].isna()) & (product['articletype']=='Jeans')]

,id,gender,mastercategory,subcategory,articletype,basecolour,season,year,usage,productdisplayname
5769,11309,Men,Apparel,Bottomwear,Jeans,NaN,Fall,2016.0,Casual,Wrangler Men Blue Floyd Jeans
5771,11293,Men,Apparel,Bottomwear,Jeans,NaN,Fall,2016.0,Casual,Wrangler Men Blue Texas Jeans
5773,11288,Men,Apparel,Bottomwear,Jeans,NaN,Fall,2016.0,Casual,Wrangler Men Blue Texas Jeans
5827,41347,Men,Apparel,Bottomwear,Jeans,NaN,Fall,2016.0,Casual,Wrangler Men Black Texas Jeans
5850,41355,Men,Apparel,Bottomwear,Jeans,NaN,Fall,2016.0,Casual,Wrangler Men Blue Millard Jeans
5852,41357,Men,Apparel,Bottomwear,Jeans,NaN,Fall,2016.0,Casual,Wrangler Men Blue Millard Jeans

In [16]:
import re

# Hàm tìm màu sắc từ productdisplayname
def extract_colour(name):
    # Danh sách các màu cần tìm
    colours = ["Blue", "Black", "White", "Red", "Green", "Yellow", "Grey", "Brown", "Pink", "Purple", "Orange"]
    # Tìm màu trong chuỗi
    for colour in colours:
        if re.search(rf'\b{colour}\b', name, re.IGNORECASE):  # So khớp không phân biệt hoa thường
            return colour
    return None

# Áp dụng cập nhật cột basecolour
product['basecolour'] = product.apply(
    lambda row: extract_colour(row['productdisplayname']) if pd.isna(row['basecolour']) else row['basecolour'], axis=1
)

product[(product['basecolour'].isna()) & (product['articletype']=='Jeans')]

Empty DataFrame
Columns: [id, gender, mastercategory, subcategory, articletype, basecolour, season, year, usage, productdisplayname]
Index: []

In [22]:
product['basecolour'].fillna("None", inplace=True)

In [26]:
product['season'].fillna("None", inplace=True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_15284\4015432941.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  product['season'].fillna("None", inplace=True)

In [29]:
product[product['year'].isna()]

,id,gender,mastercategory,subcategory,articletype,basecolour,season,year,usage,productdisplayname
21435,53781,Men,Apparel,Topwear,Tshirts,Blue,None,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt

In [36]:
product['year'] = product['year'].fillna(2012)

In [41]:
product['usage'] = product['usage'].fillna('Casual')

In [42]:
product[product['usage'].isna()]

Empty DataFrame
Columns: [id, gender, mastercategory, subcategory, articletype, basecolour, season, year, usage, productdisplayname]
Index: []

In [43]:
product.isna().sum()

id                    0
gender                0
mastercategory        0
subcategory           0
articletype           0
basecolour            0
season                0
year                  0
usage                 0
productdisplayname    0
dtype: int64

In [44]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44446 non-null  int64
 1   gender              44446 non-null  object
 2   mastercategory      44446 non-null  object
 3   subcategory         44446 non-null  object
 4   articletype         44446 non-null  object
 5   basecolour          44446 non-null  object
 6   season              44446 non-null  object
 7   year                44446 non-null  float64
 8   usage               44446 non-null  object
 9   productdisplayname  44446 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

In [45]:
# lưu lại vào file product.csv
product.to_csv('../data/processed/product.csv', index=False)

## Xử lý dữ liệu customer

In [46]:
customer = pd.read_csv('../data/raw/customer.csv')
customer

,customer_id,first_name,last_name,username,email,gender,birthdate,device_type,device_id,device_version,home_location_lat,home_location_long,home_location,home_country,first_join_date
0,9223,Shania,Hassanah,66ca6c71-9367-4414-87bc-b2256e410699,66ca6c71_9367_4414_87bc_b2256e410699@startupca...,F,1999-11-17,iOS,f8664d9e-bc1b-43ee-941b-bb28eb914dda,iPhone; CPU iPhone OS 6_1_6 like Mac OS X,6.634183,5.930406,Edo,Nigeria,2018-01-28
1,99570,Zelaya,Purnawati,d330904b-277d-40f4-8652-5f3ef1bc30da,d330904b_277d_40f4_8652_5f3ef1bc30da@startupca...,F,1995-11-16,iOS,90159179-6982-425f-acf2-7ffd5911d0b3,iPad; CPU iPad OS 9_3_5 like Mac OS X,6.634183,5.930406,Edo,Nigeria,2021-11-09
2,98093,Zamira,Prastuti,e3f6497c-5a52-422c-878a-3c6ddea847ea,e3f6497c_5a52_422c_878a_3c6ddea847ea@startupca...,F,1996-09-30,Android,b91a812d-166e-4c31-ae1e-5e775282a1cd,Android 3.0,6.634183,5.930406,Edo,Nigeria,2022-02-20
3,56630,Zelda,Riyanti,05e440c1-c081-46ba-80ad-def3d5ba5115,05e440c1_c081_46ba_80ad_def3d5ba5115@zakyfound...,F,2003-07-16,Android,b164d18f-627d-4349-8752-e58f82d2612e,Android 4.3,6.634183,5.930406,Edo,Nigeria,2019-12-01
4,32552,Fitria,Lestari,94d467b3-1fc1-4cba-9edc-2b3fcf6d9534,94d467b3_1fc1_4cba_9edc_2b3fcf6d9534@startupca...,F,1985-04-01,Android,a7b347ac-4c38-481b-83a1-5d705010b8dc,Android 2.1,6.634183,5.930406,Edo,Nigeria,2016-08-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,40970,Heru,Hidayanto,32a10415-503c-43e4-bd7a-b39e81e35137,32a10415_503c_43e4_bd7a_b39e81e35137@zakyfound...,M,1993-07-24,iOS,334520af-a22c-4a4b-ac3f-c546eedddd13,iPad; CPU iPad OS 5_1_1 like Mac OS X,54.508268,-6.766589,Dungannon and South Tyrone Borough Council,United Kingdom,2021-12-26
99996,98186,Cahyadi,Prakasa,e618a2ce-f98c-4773-842d-3f8ac2e60065,e618a2ce_f98c_4773_842d_3f8ac2e60065@zakyfound...,M,1993-07-15,Android,d6808de5-86d8-406c-94ce-dd7218c212b0,Android 2.2,54.508268,-6.766589,Dungannon and South Tyrone Borough Council,United Kingdom,2021-07-04
99997,74799,Upik,Sitorus,09255e18-ae99-4113-86e7-6a40657f5450,09255e18_ae99_4113_86e7_6a40657f5450@startupca...,M,1981-06-20,Android,9b4884e7-e0d8-49c9-b917-654d248b51e5,Android 2.2.1,54.508268,-6.766589,Dungannon and South Tyrone Borough Council,United Kingdom,2020-12-20
99998,87170,Sidiq,Hidayat,d1290efa-8ff5-4c6a-b71f-6277c2035262,d1290efa_8ff5_4c6a_b71f_6277c2035262@startupca...,M,2006-08-10,Android,8f85b391-d62f-4628-a793-dd0eb8c9e61e,Android 7.0,54.508268,-6.766589,Dungannon and South Tyrone Borough Council,United Kingdom,2021-05-22
99999,57047,Harjo,Napitupulu,122c5ebd-4fff-4be3-89bb-ae39eda16bd7,122c5ebd_4fff_4be3_89bb_ae39eda16bd7@zakyfound...,M,1997-09-08,Android,88aa5757-df83-425f-ad57-0828da188653,Android 8.1.0,54.508268,-6.766589,Dungannon and South Tyrone Borough Council,United Kingdom,2017-09-10